<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FL_Studio_Plugin_Categoriser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FL_Studio_Plugin_Categoriser.Properties.Settings>
            <setting name="FLFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="VSTFolder" serializeAs="String">
                <value>C:\Program Files\Steinberg\VSTPlugins</value>
            </setting>
        </FL_Studio_Plugin_Categoriser.Properties.Settings>
    </userSettings>
</configuration>